Microsoft.Flow/flows/bef799b7-2939-4315-bd36-ac5f4b6e143e/definition.json
{"name":"170f1dc0-dec5-425a-87f2-5ba43da864ba","id":"/providers/Microsoft.Flow/flows/170f1dc0-dec5-425a-87f2-5ba43da864ba","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"GoogleBooksFromISBN","definition":{"metadata":{"workflowEntityId":null,"creator":{"id":"ec89efc0-9684-4cce-8fe4-9380fa31bdf2","type":"User","tenantId":"fe191177-480c-490c-8df5-270125be9fc2"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2018-10-03T01:42:19.5034066Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"PowerApp","inputs":{"schema":{"type":"object","required":["Initializevariable2_Value"],"properties":{"Initializevariable2_Value":{"type":"string","description":"Enter initial value","x-ms-powerflows-param-ispartial":false}}}}}},"actions":{"Initialize_variable":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"APIKey","type":"String","value":"AIzaSyDSK20OXnvQjmkcbkYPmZlbMiPo9pgnxEs"}]}},"Initialize_variable_2":{"runAfter":{"Initialize_variable":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"ISBN","type":"String","value":"@triggerBody()['Initializevariable2_Value']"}]}},"HTTP":{"runAfter":{"Initialize_variable_2":["Succeeded"]},"type":"Http","inputs":{"method":"GET","uri":"https://www.googleapis.com/books/v1/volumes","queries":{"key":"@variables('APIKey')","q":"isbn:@{variables('ISBN')}","projection":"lite","maxResults":"1","country":"US"}}},"Response":{"runAfter":{"HTTP":["Succeeded"]},"type":"Response","kind":"Http","inputs":{"statusCode":200,"body":"@body('HTTP')","schema":{"type":"object","properties":{"kind":{"type":"string"},"totalItems":{"type":"integer"},"items":{"type":"array","items":{"type":"object","properties":{"kind":{"type":"string"},"id":{"type":"string"},"etag":{"type":"string"},"selfLink":{"type":"string"},"volumeInfo":{"type":"object","properties":{"title":{"type":"string"},"subtitle":{"type":"string"},"authors":{"type":"array","items":{"type":"string"}},"publisher":{"type":"string"},"publishedDate":{"type":"string"},"description":{"type":"string"},"readingModes":{"type":"object","properties":{"text":{"type":"boolean"},"image":{"type":"boolean"}}},"maturityRating":{"type":"string"},"allowAnonLogging":{"type":"boolean"},"contentVersion":{"type":"string"},"imageLinks":{"type":"object","properties":{"smallThumbnail":{"type":"string"},"thumbnail":{"type":"string"}}},"previewLink":{"type":"string"},"infoLink":{"type":"string"},"canonicalVolumeLink":{"type":"string"}}},"saleInfo":{"type":"object","properties":{"country":{"type":"string"}}},"accessInfo":{"type":"object","properties":{"country":{"type":"string"},"epub":{"type":"object","properties":{"isAvailable":{"type":"boolean"}}},"pdf":{"type":"object","properties":{"isAvailable":{"type":"boolean"}}},"accessViewStatus":{"type":"string"}}},"searchInfo":{"type":"object","properties":{"textSnippet":{"type":"string"}}}},"required":["kind","id","etag","selfLink","volumeInfo","saleInfo","accessInfo","searchInfo"]}}}}}}},"outputs":{},"description":"Create one or more actions to happen when a button or link in PowerApps is selected. To use this flow from a PowerApp, select the control you want to trigger the flow and go to the Action tab in the PowerApps ribbon and select Flows."},"connectionReferences":{},"flowFailureAlertSubscribed":false}}